﻿<br>
<script language="javascript">
    var url = "http://localhost:55537/api/movie/"
    function doList() {
        $.get(url + "all", null, function (data, status, jqxr) {
            alert("ALL: " + data);
        },"html");
    }
    function doAdd()
    {
        var newMovie = { "MOVIE_ID":1090,"TITLE":"Batman Begins","IMDB_SCORE":8.2,"LENGTH":140,"RELEASE_YEAR":"2005","CATEGORY_ID":50};
        $.post(url + "add", newMovie, function (data, status, jqxr) {
            alert("ADD:" + data);
            doList()
        },"html");
    }
    function doMod() {
        var newMovie = { "MOVIE_ID": 1090, "TITLE": "Batman Begins", "IMDB_SCORE": 8.3, "LENGTH": 140, "RELEASE_YEAR": "2005", "CATEGORY_ID": 50 };
        $.post(url + "modify", newMovie, function (data, status, jqxr) {
            alert("MOD:" + data);
            doList()
        },"html");
    }
    function doDel() {
        $.get(url + "del/" + $("#delmovieID").val(), null, function (data, status, jqxr) {
            alert("DEL: " + data);
            doList();
        },"html");
    }

    function doAvgImdbList() {
        $.get(url + "averageimdb", null, function (data, status, jqxr) {
            alert("AVG: " + data);
        }, "html");
    }
</script>

<button onclick="doList()">LIST</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doAvgImdbList()">AvgIMDB</button>
<br />
<button onclick="doDel()">DEL</button>
<input type="text" id="delmovieID" />
<hr />


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
